header {
  background-color: #ACDCF0;
}
main{
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer'
}
aside {
    background:#B0CBF1
}
article {
    background: #C2B7F3;
}
footer {
    background: #B3BBF2
}
